{% extends "template.html" %}
{% block conteudo %}
      <form action="{{ url_for('game_create') }}" method="post">
        <fieldset>
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="game-title" name="game-title" class="form-control">
          </div>
          <div class="form-group">
            <label for="category">Category</label>
            <input type="text" id="category" name="category" class="form-control">
          </div>
          <div class="form-group">
            <label for="console">Console</label>
            <input type="text" id="console" name="console" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary btn-salvar">Save</button>
        </fieldset>
      </form>
{% endblock %}